
  <div class="col-md-10 col-md-offset-1"
  <br>
  <h1>about <b style="color:#18BC9C">stratus</b></h1>
  <p>
  <b style="color:#18BC9C">stratus</b> is a mobile-optimized application that
  provides users a free and superior musical experience. Powered by the vast,
  open soundcloud.com api, it combines the song-saving benefits of a paid
  service, with the discovery features of a free one.
  </p>
  <p>
  We chose the name <b style="color:#18BC9C">stratus</b> as a representation of
  the service the app provides. Stratus clouds are low level cloud systems, the
  first layer between mankind and the universe. In fact, the word stratus
  originates from the Latin prefix strato, meaning layer. We built our app as a
  tasty layer of usability on top of the world's largest free music database.
  </p>
  <p>
  From the home page, users enter simple terms to search for music. They can
  both save individual songs to their profile, as well as create a radio station
  based on the current song that is playing.
  </p>
  <p>
  <b style="color:#18BC9C">stratus</b> was created with lots of love, some
  caffeine, and a git merge conflict or two by:
  </p>
  <p>
  Ben Davis<br>
  Philippe Luchansky<br>
  Peter Shim<br>
  David Zernik<br>
  </p>
  <p>
  The site was built using html5, css3, bootstrap, javascript, node.js, express.js,
  mongo db, and heroku. Special thanks to General Assembly and soundcloud.
  </p>
  <p>
  If you enjoy our site, have any problems we should be aware of, or would like
  to partner with us on <b style="color:#18BC9C">stratus</b> or another project, please contact us at:
  <b><a href="mailto:stratusteam@gmail.com">stratusteam@gmail.com</a></b>
  </p>
  </div>
