
      <!-- SIGN UP FORM -->
      <div class="row">
        <form class="form-horizontal" method="post" action="/users/new">
          <fieldset>
          <!-- Form Name -->
          <legend>Create account</legend>
          <!-- Name input-->
          <div class="control-group">
            <label class="control-label" for="textinput">Name </label>
            <div class="controls">
              <input id="textinput" name="name" type="text" placeholder="John Smith" class="input-xlarge">
            </div>
          </div>
          <!-- Email input-->
          <div class="control-group">
            <label class="control-label" for="textinput">Email address</label>
            <div class="controls">
              <input id="textinput" name="email" type="text" placeholder="email@email.com" class="input-xlarge">
            </div>
          </div>
          <!-- Password input-->
          <div class="control-group">
            <label class="control-label" for="passwordinput">Password</label>
            <div class="controls">
              <input id="passwordinput" name="password" type="password" placeholder="password" class="input-xlarge">
            </div>
          </div>
          <!-- Password confirm input-->
          <div class="control-group">
            <label class="control-label" for="passwordinput">Confirm password</label>
            <div class="controls">
              <input id="passwordinput" name="passwordConfirm" type="password" placeholder="password" class="input-xlarge">
            </div>
          </div>
          </fieldset>
        </form>
      </div>

      <script>
      $(function(){
        
      })
      </script>
      <!-- END SIGN UP FORM -->
