#nav-logo {
  margin-top: -7px;
  font-size: 30px;
  font-weight: 500;
}

#nav-search {
  margin-top: 13px;
}

#nav-links {
  font-size: 20px;
}

body {
  padding-top: 65px;
  padding-bottom: 45px;
  /*to offset the fixed footer and header- defaulted to zero */
}

#delete-user-confirm {
  text-align: center;
  font-weight: 300;
}

#footer-text {
  color: white;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
}
